.carousel-container {
  max-width: 1000px;
  margin: 0 auto; 
}


.welcomePage{
  margin-top: 120px;
}

.welcomePage1{
 font-family: 'Dancing Script', cursive;
 font-family: 'Pacifico', cursive;
  font-size: 60px;
}

.welcomePage2{
  font-size: 40px;
 font-family: 'Great Vibes', cursive;
 
}

.carousel-image {
  width: 100%;
  height: auto;
}